@{
    Layout = "";
}

<!DOCTYPE html>
<!-- saved from url=(0025)https://meghealth.gov.in/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Department of Health &amp; Family Welfare, Government of Meghalaya</title>

    <!-- Favicon -->
    <link href="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/bxslider.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/font-awesome.css" rel="stylesheet">
    <link href="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/bootstrap.css" rel="stylesheet">
    <link href="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/style.css" rel="stylesheet">
    <link href="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/black.css" rel="alternate stylesheet" type="text/css" title="black">
    <!-- Google Fonts -->
    <link href="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/css" rel="stylesheet" type="text/css">
    <link href="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/css(1)" rel="stylesheet" type="text/css">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/jquery.min.js.download"></script>
    <script src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/jquery.bxslider.min.js.download"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery(".bxslider").bxSlider({
                auto: true,
                autoControls: true
            });
        });
    </script>
</head>
<body>

    <!--START SCROLL TOP BUTTON -->
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header  -->`
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="header-top-right">
                                    <nav>
                                        <ul class="top-social-nav">
                                            <li><a href="https://meghealth.gov.in/#service">Skip to main menu</a>  |</li>
                                            <li><a href="https://meghealth.gov.in/screen.html">Screen Reader Access</a> |</li>
                                            <li>
                                                Text resize <a id="fontLarge" href="javascript:void(0);"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/stock_increase-font.png" width="20" height="20" alt="Increase font size" title="Increase"></a>
                                                <a id="fontDefault" href="javascript:void(0);"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/stock_font-size.png" width="20" height="20" alt="Reset default font size" title="Default"></a>
                                                <a id="fontSmall" href="javascript:void(0);"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/stock_decrease-font.png" width="20" height="20" alt="Decrease font size" title="Decrease"></a> |&nbsp;
                                            </li>
                                            <li>
                                                <a href="https://meghealth.gov.in/#" onclick="switch_style(&#39;black&#39;);return false;" id="black"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/black.png" alt="Yellow On Black Colour Scheme" width="20" height="20" title="Yellow On Black Colour Scheme"> </a>
                                                <a href="https://meghealth.gov.in/#" onclick="switch_style(&#39;style&#39;);return false;" id="style"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/default.png" alt="Default Color Scheme" width="20" height="20" title="Default Color Scheme"> </a>&nbsp;
                                            </li>
                                            <li class="search">

                                                <form method="get" action="https://www.google.com/search" onsubmit="this.target=&#39;_blank&#39;" autocomplete="off">
                                                    <label>Search <input type="text" name="q" size="11" maxlength="200" onfocus="if(this.value==this.defaultValue)this.value=&#39;&#39;; this.style.color=&#39;black&#39;;" onblur="if(this.value==&#39;&#39;)this.value=this.defaultValue; " aria-label="Enter the keywords that you want to search in this field" style="color: black;"></label>
                                                    <input type="submit" value="Go" aria-label="searchButton">
                                                    <input type="hidden" name="sitesearch" value="meghealth.gov.in">
                                                </form>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- End header  -->
    <!-- Start menu -->
    <section id="menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <!-- IMG BASED LOGO  -->
                    <!-- <a class="navbar-brand" href="index.html"><img src="~/Home _ Department of Health & Family Welfare, Government of Meghalaya_fileassets/logo.png" alt="logo"></a> -->
                </div>
                <div class="navbar navbar-default" role="navigation">
                    <!--  <div class="container">-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav sm" data-smartmenus-id="1687506417448339">
                            <li class="active"><a href="https://meghealth.gov.in/index.html">Home</a></li>
                            <li><a href="https://meghealth.gov.in/aboutus.html">About Us</a></li>
                            <li><a href="https://meghealth.gov.in/who.html">Who's Who</a></li>
                            <li>
                                <a href="https://meghealth.gov.in/dhs_mi.html" class="has-submenu">DHS (MI)<span class="sub-arrow">...</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://meghealth.gov.in/dhs_mi_org_struc.html">Organisational Structure</a></li>
                                    <li><a href="https://meghealth.gov.in/dhs_mi_director.html">Director of Health Services (<span aria-label="Medical Institutions">M.I.</span>)</a></li>
                                    <li><a href="https://meghealth.gov.in/dhs_mi_engg_wing.html">Health Engineering Wing</a></li>
                                    <li><a href="https://meghealth.gov.in/dhs_mi_drugs.html">Drugs Section</a></li>
                                    <li><a href="https://meghealth.gov.in/dhs_mi_ayush.html" aria-label="Ayurvedic, Yoga and Naturopathy, Unani, Siddha and Homeopathic Section">AYUSH Section</a></li>
                                    <li><a href="https://meghealth.gov.in/dhs_mi/FAA-PIO.pdf" target="_blank">FAA &amp; PIO</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="https://meghealth.gov.in/dhs_mchfw.html" class="has-submenu">DHS (MCH&amp;FW)<span class="sub-arrow">...</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://meghealth.gov.in/dhs_mchfw_org_struc.html">Organisational Structure</a></li>
                                    <li><a href="https://meghealth.gov.in/programmes.html">Programmes</a></li>
                                    <li><a href="https://meghealth.gov.in/dhs_mchfw_npp.html">National Population Policy (N.P.P.)</a></li>
                                    <li><a href="https://meghealth.gov.in/dhs_mchfw_rch.html">Reproductive and Child Health (R.C.H.)</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="https://meghealth.gov.in/dhs_res.html" class="has-submenu">DHS (R)<span class="sub-arrow">...</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://meghealth.gov.in/dhsr_org_struc.html">Organisational Structure</a></li>
                                    <li><a href="https://meghealth.gov.in/dhsr_pasteur_inst.html">Pasteur Institute</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="https://meghealth.gov.in/dmho.html" class="has-submenu">DM&amp;HO<span class="sub-arrow">...</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://meghealth.gov.in/dmho_nongpoh.html">Ri Bhoi</a></li>
                                    <li><a href="https://meghealth.gov.in/dmho_jowai.html">Jaintia Hills</a></li>
                                    <li><a href="https://meghealth.gov.in/dmho_nongstoin.html">West Khasi Hills</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="https://meghealth.gov.in/health-centres.html" class="has-submenu">Health Centres<span class="sub-arrow">...</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://meghealth.gov.in/hospitals.html">Hospitals</a></li>
                                    <li><a href="https://meghealth.gov.in/chc.html">Community Health Centres (CHC)</a></li>
                                    <li><a href="https://meghealth.gov.in/phc.html">Primary Health Centres (PHC)</a></li>
                                    <li><a href="https://meghealth.gov.in/subcentres.html">Sub Centres</a></li>
                                    <li><a href="https://meghealth.gov.in/dispensaries.html">Dispensaries</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="https://meghealth.gov.in/#" class="has-submenu">Health Facilities<span class="sub-arrow">...</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://meghealth.gov.in/docs/Shillong_Civil_Hospital.pdf" target="_blank">Shillong Civil Hospital</a></li>
                                    <li><a href="https://meghealth.gov.in/docs/Ganesh_Das_Hospital.pdf" target="_blank">Ganesh Das Hospital</a></li>
                                    <li><a href="https://meghealth.gov.in/docs/Tura_Civil_Hospital.pdf" target="_blank">Tura Civil Hospital</a></li>
                                    <li><a href="https://meghealth.gov.in/docs/Jowai_District_Hospital.pdf" target="_blank">Jowai Civil Hospital</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="https://meghealth.gov.in/mentalhealth.html" class="has-submenu">Mental Health Facility<span class="sub-arrow">...</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://meghealth.gov.in/mimhans.html" aria-label="Government Sector Meghalaya Institute of Mental Health and Neurological Science">Government Sector-MIMHANS</a></li>
                                    <li><a href="https://meghealth.gov.in/evol_mimhans.html" aria-label="Evolution of Meghalaya Institute of Mental Health and Neurological Science">Evolution of MIMHANS</a></li>
                                    <li><a href="https://meghealth.gov.in/CHS.html">Civil Hospital Shillong</a></li>
                                    <li><a href="https://meghealth.gov.in/CHJ.html">Civil Hospital Jowai</a></li>
                                    <li><a href="https://meghealth.gov.in/CHT.html">Civil Hospital Tura</a></li>
                                    <li><a href="https://meghealth.gov.in/CHW.html">Civil Hospital Williamnagar</a></li>
                                    <li><a href="https://meghealth.gov.in/sanker.html">Private Sector-SANKER</a></li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <!-- End menu -->
    <!-- Start search box -->

    <img src="~/Home _ Department of Health & Family Welfare, Government of Meghalaya_files/banner.jpg" alt="Department of Health and Family Welfare">
    <!-- Start single slider item -->
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="service">
        <div class="container">

            <div class="elements-content">
                <div class="row">
                    <div class="body-container-left">
                        <div class="minister-panel">
                            <div class="minister-box">
                                <div class="minister-photo-wrapper"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/minister1.jpg" alt="Chief Minister" width="100" height="114" class="center-block">      </div>
                                <div class="min-info">
                                    <p>
                                        <strong>Hon'ble CM of Meghalaya</strong> <br>
                                        Shri. Conrad K Sangma
                                    </p>
                                </div>
                            </div>

                            <div class="minister-box">
                                <div class="minister-photo-wrapper"> <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/minister2.jpg" alt="Health Minister" width="100" height="114" class="center-block">      </div>
                                <div class="min-info">
                                    <p>
                                        <strong>Hon’ble Health Minister</strong><br>
                                        Dr. Mazel Ampareen Lyngdoh
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5  col-sm-6">
                        <div class="bx-wrapper" style="max-width: 100%;">
                            <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 355.719px;">
                                <ul class="bxslider" style="width: 4215%; position: relative; transition-duration: 0.5s; transform: translate3d(-1264.78px, 0px, 0px);">
                                    <li style="float: left; list-style: none; position: relative; width: 632.406px;" class="bx-clone" aria-hidden="true"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/4.jpg" alt="Slide 4"></li>
                                    <li style="float: left; list-style: none; position: relative; width: 632.406px;" aria-hidden="true"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/1.jpg" alt="Slide 1"></li>
                                    <li aria-hidden="false" style="float: left; list-style: none; position: relative; width: 632.406px;"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/2.jpg" alt="Slide 2"></li>
                                    <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 632.406px;"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/3.jpg" alt="Slide 3"></li>
                                    <li style="float: left; list-style: none; position: relative; width: 632.406px;" aria-hidden="true"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/4.jpg" alt="Slide 4"></li>
                                    <li style="float: left; list-style: none; position: relative; width: 632.406px;" class="bx-clone" aria-hidden="true"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/1.jpg" alt="Slide 1"></li>
                                </ul>
                            </div><div class="bx-controls bx-has-controls-direction bx-has-controls-auto bx-has-pager"><div class="bx-controls-direction"><a class="bx-prev" href="https://meghealth.gov.in/">Prev</a><a class="bx-next" href="https://meghealth.gov.in/">Next</a></div><div class="bx-controls-auto"><div class="bx-controls-auto-item"><a class="bx-start" href="https://meghealth.gov.in/">Start</a></div><div class="bx-controls-auto-item"><a class="bx-stop active" href="https://meghealth.gov.in/">Stop</a></div></div><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="https://meghealth.gov.in/" data-slide-index="0" class="bx-pager-link">1</a></div><div class="bx-pager-item"><a href="https://meghealth.gov.in/" data-slide-index="1" class="bx-pager-link active">2</a></div><div class="bx-pager-item"><a href="https://meghealth.gov.in/" data-slide-index="2" class="bx-pager-link">3</a></div><div class="bx-pager-item"><a href="https://meghealth.gov.in/" data-slide-index="3" class="bx-pager-link">4</a></div></div></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="elements">
                            <div class="side-links clearfix">
                                <ul class="content_list date-list">
                                    <li>
                                        <a href="http://nhmmeghalaya.nic.in/covidstatus.html" target="_blank">
                                            <div class="list-content">
                                                <h2>
                                                    <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/6.png" alt="Covid-19 Dashboard">
                                                    <span>Covid-19 Dashboard</span>
                                                </h2>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://coronamegh.in/" target="_blank">
                                            <div class="list-content">
                                                <h2>
                                                    <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/3.png" alt="Covid-19 Tracking">
                                                    <span>Covid-19 Test Result</span>
                                                </h2>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://meghalayaonline.gov.in/covid/testing.htm" target="_blank">
                                            <div class="list-content">
                                                <h2>
                                                    <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/7.png" alt="Registration">
                                                    <span>Registration for Testing</span>
                                                </h2>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://meghealth.gov.in/covid-19.html">
                                            <div class="list-content">
                                                <h2>
                                                    <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/1.png" alt="Covid-19 Information">
                                                    <span>Covid-19 Information</span>
                                                </h2>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://meghealth.gov.in/video.html">
                                            <div class="list-content">
                                                <h2>
                                                    <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/2.png" alt="IEC Videos">
                                                    <span>IEC Videos</span>
                                                </h2>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://meghealth.gov.in/covid/State%20Response%20Teams%20for%20COVID%2019.pdf" target="_blank">
                                            <div class="list-content">
                                                <h2>
                                                    <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/4.png" alt="CCC and Covid Hospitals">
                                                    <span>State Response Team</span>
                                                </h2>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://meghealth.gov.in/covid/List_of_Corona_Care_Centre_and_Covid_Hospitals.pdf" target="_blank">
                                            <div class="list-content">
                                                <h2>
                                                    <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/5.png" alt="CCC and Covid Hospitals">
                                                    <span>CCC and Covid Hospitals</span>
                                                </h2>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End service  -->
    <!-- Start about us counter -->
    <!-- End about us counter -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="service-area">
                        <!-- Start single service -->
                        <div class="service-single">
                            <span class="fa fa-download"></span>
                            <h3><a href="https://meghealth.gov.in/forms.html">Download Forms</a></h3>
                        </div>

                        <div class="service-single">
                            <span class="fa fa-book"></span>
                            <h3><a href="https://meghealth.gov.in/documents.html">Documents</a></h3>
                        </div>

                        <div class="service-single">
                            <span class="fa fa-folder-open"></span>
                            <h3><a href="https://meghealth.gov.in/notification.html">Notifications</a></h3>
                        </div>

                        <div class="service-single">
                            <span class="fa fa-file-text"></span>
                            <h3><a href="https://meghealth.gov.in/tenders.html">Tender Notices</a></h3>
                        </div>

                        <div class="service-single">
                            <span class="fa fa-newspaper-o"></span>
                            <h3><a href="https://meghealth.gov.in/news.html">Archive</a></h3>
                        </div>
                        <!--

                                     <div class="service-single">
                                      <span class="fa fa-envelope"></span>
                                      <h3><a href="covid_letters.html">Letters</a></h3>
                                    </div>

                                     <div class="service-single">
                                      <span class="fa fa-users"></span>
                                      <h3><a href="note_records.html">Note Records</a></h3>
                                    </div>
                                    <div class="service-single">
                                      <span class="fa fa-book"></span>
                                      <h3><a href="iec_materials.html">IEC Materials</a></h3>
                                    </div>

                               <div class="service-single">
                                  <span class="fa fa-video-camera"></span>
                                  <h3><a href="video.html">Videos</a></h3>
                                </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mu-features">
        <div class="container">
            <div class="row-bt">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-features-area">
                        <!-- Start features content -->
                        <div class="mu-features-content">
                            <div class="row">
                                <!--                 <div style="text-align:center" class="col-lg-4 col-md-4 col-sm-6">
                                                  <div class="mu-single-feature">
                                                    <span style="text-align:center" class="fa fa-book"></span>
                                                    <h4><a href="forms.html">Download Forms</a></h4>

                                                  </div>
                                                </div>
                                               <div style="text-align:center" class="col-lg-4 col-md-4 col-sm-6">
                                                  <div class="mu-single-feature">
                                                    <span style="text-align:center" class="fa fa-files-o"></span>
                                                    <h4><a href="documents.html">Documents</a></h4>

                                                  </div>
                                                </div>
                                                <div style="text-align:center" class="col-lg-4 col-md-4 col-sm-6">
                                                  <div class="mu-single-feature">
                                                    <span style="text-align:center" class="fa fa-files-o"></span>
                                                    <h4><a href="notification.html">Notifications</a></h4>

                                                  </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6">
                                                  <div class="mu-single-feature">
                                                    <span style="text-align:center" class="fa fa-tasks"></span>
                                                    <h4><a href="tenders.html">Tender Notices</a></h4>

                                                  </div>
                                                </div>-->
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-info"></span>
                                        <h4><a href="http://megrti.gov.in/" target="_blank" title="External Website that opens in a new window">RTI</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-file-o"></span>
                                        <h4><a href="https://meghealth.gov.in/disease_info.html">Disease Information</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-user"></span>
                                        <h4><a href="https://meghealth.gov.in/infrastructure_manpower.html">Infrastructure Manpower</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-money"></span>
                                        <h4><a href="https://meghealth.gov.in/medical_reimbursement.html">Medical Reimbursement</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-bar-chart"></span>
                                        <h4><a href="https://meghealth.gov.in/statistics.html">Statistics</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-map-o"></span>
                                        <h4><a href="https://meghealth.gov.in/images/map.jpg" target="_blank">Health Map of Meghalaya</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-file-photo-o"></span>
                                        <h4><a href="https://meghssp.org/news-events" target="_blank">News &amp; Events (MHSSP)</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-camera"></span>
                                        <h4><a href="https://meghealth.gov.in/photos.html">Photo Gallery</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-external-link"></span>
                                        <h4><a href="https://meghealth.gov.in/links.html">Related Links</a></h4>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="mu-single-feature">
                                        <span style="text-align:center" class="fa fa-pencil-square"></span>
                                        <h4><a href="http://megpgrams.gov.in/lodgegrievance.htm?orc=11" target="_blank">Lodge Grievance</a></h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End features content -->
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="elements-last">
                    <h3 tabindex="0">Whats New </h3>
                    <div class="elements-last-content">
                        <ul>
                            <li><a href="https://meghealth.gov.in/news/MMDSL-HR-1-HIRING-2022-23(18).pdf" target="_blank">List of qualified candidates for the personal interview regarding the post of Store Keeper under Meghalayan Medical Drugs &amp; Services Ltd (MMDSL) <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/iconpdf.gif" alt="Pdf icon" width="16" height="16"><br> </a>
                            <li ><a href="https://meghealth.gov.in/news/MMDSL-HR-1-HIRING-2022-23.pdf" target="_blank">List of qualified candidates for the personal interview regarding the post of Full Stack Developer under Meghalayan Medical Drugs &amp; Services Ltd (MMDSL) <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/iconpdf.gif" alt="Pdf icon" width="16" height="16"><br> </a><a href="https://forms.gle/dYWu1Z68q9Tqf9cT9" target="_blank"></a> </li>
                            <li><a href="https://meghealth.gov.in/notification/Notice%20NIC_0001.pdf" target="_blank">Notice in continuation with Advertisement for B.Sc Nursing, B.Pharm, D. Pharm, BMLT, B.Sc Radio Imaging &amp; Cardiac Instrumentation, B.Sc Ophthalmic against the State Quota seats for 2023-2024 <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/iconpdf.gif" alt="Pdf icon" width="16" height="16"><br> </a><a href="https://forms.gle/dYWu1Z68q9Tqf9cT9" target="_blank"></a> </li>
                            <li><a href="https://meghealth.gov.in/notification/NOTICE_FOR_OVERSEAS_EMPLOYMENT_FAIR_FOR_NURSES.pdf" target="_blank">Notice regarding Employment Fair for Nursing Cadets</a> <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/iconpdf.gif" alt="Pdf icon" width="16" height="16"><br> <a href="https://forms.gle/dYWu1Z68q9Tqf9cT9" target="_blank"><img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/enroll.gif" width="150" height="50"></a></li>



                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Start latest course section -->

    <section id="links">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="links-area">
                    <!-- Start Title -->
                    <!-- End Title -->
                    <!-- Start latest course content -->
                    <div class="fle-xsel">
                        <ul id="flexiselDemo3">
                            <li>
                                <a href="https://www.india.gov.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/banner1.jpg" alt="India Portal" width="200" height="55" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://meghalaya.gov.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/meg.jpg" alt="Meghalaya Portal" width="233" height="50" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.mohfw.gov.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/mohw.jpg" alt="MOHFW" width="202" height="55" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://nhmmeghalaya.nic.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/nhm.png" alt="NHM" width="200" height="50" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://mhis.org.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/mhis.jpg" alt="MHIS" width="150" height="50" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://meghssp.org/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/mhssp.jpg" alt="MHSSP" width="300" height="50" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://megbirthdeath.gov.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/birth.jpg" alt="birth death" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://dashboard.ehospital.gov.in/ehospitaldashboard/hospitalwisedashboard.jsp" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/ehospital.jpg" alt="eHospital" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://ors.gov.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/ors.jpg" alt="ORS" width="217" height="50" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.mygov.in/aarogya-setu-app/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/aarogya.jpg" alt="aarogya setu" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://poshanabhiyaan.gov.in/" title="External Site that opens in a new window" target="_blank">
                                    <div class="banner-1">
                                        <img src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/poshan.jpg" alt="poshan" class="img-responsive">
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <script type="text/javascript">
                            $(window).load(function () {

                                $("#flexiselDemo3").flexisel({
                                    visibleItems: 5,
                                    animationSpeed: 1000,
                                    autoPlay: true,
                                    autoPlaySpeed: 3000,
                                    pauseOnHover: true,
                                    enableResponsiveBreakpoints: true,
                                    responsiveBreakpoints: {
                                        portrait: {
                                            changePoint: 480,
                                            visibleItems: 2
                                        },
                                        landscape: {
                                            changePoint: 640,
                                            visibleItems: 3
                                        },
                                        tablet: {
                                            changePoint: 768,
                                            visibleItems: 3
                                        }
                                    }
                                });

                            });
                        </script>
                        <script type="text/javascript" src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/jquery.flexisel.js.download"></script>
                        <div class="clearfix"> </div>
                    </div>

                    <!-- End latest course content -->
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">

        <!-- start footer bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-area">
                    <p>
                        <a href="https://meghealth.gov.in/terms.html">Terms of Use</a> | <a href="https://meghealth.gov.in/contactus.html">Contact Us</a> | <a href="https://meghealth.gov.in/accessibility-statement.html">Accessibility Statement</a> | <a href="https://meghealth.gov.in/help.html">Help</a> | <a href="https://meghealth.gov.in/sitemap.html">Sitemap</a><br>
                        Site Designed and Hosted by National Informatics Centre, Meghalaya State Centre<br>

                        Content maintained and updated by Department of Health and Family Welfare, Government of Meghalaya<br>

                        <script>
                            function initArray() {
                                this.length = initArray.arguments.length
                                for (var i = 0; i < this.length; i++) this[i + 1] = initArray.arguments[i]
                            }
                            var MOYArray = new initArray('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
                            var LastModDate = new Date(document.lastModified);
                            document.write('Last updated on ');
                            document.write(MOYArray[(LastModDate.getMonth() + 1)], ' ');
                            document.write(LastModDate.getDate(), ', ', (LastModDate.getYear() + 1900));
                            document.write('');
                        </script>Last updated on June 20, 2023

                    </p>
                </div>
            </div>
        </div>
        <!-- end footer bottom -->
    </footer>
    <!-- End footer -->
    <!-- jQuery library -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/bootstrap.js.download"></script>
    <!-- Slick slider -->
    <!-- Counter -->

    <script type="text/javascript" src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/jquery.smartmenus.min.js.download"></script>
    <script type="text/javascript" src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/jquery.smartmenus.bootstrap.min.js.download"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/jquery.creaseFont.min.js.download"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $.creaseFont();
        });

        $(window).keydown(function (e) {
            switch (e.keyCode) {
                case 107:
                    $('#fontLarge').click();
                    return false;
                case 109:
                    $('#fontSmall').click();
                    return false;
            }
            return;
        });
    </script>
    <script src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/theme.js.download" type="text/javascript"></script>
    <script type="text/javascript">
        set_style_from_cookie();
    </script>
    <script type="text/javascript" src="~/Home _ Department of Health &amp; Family Welfare, Government of Meghalaya_files/jquery.flexisel.js.download"></script>

</body>
</html>